<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>



    <script>
        window.addEventListener("load", function(evt) {
            var output = document.getElementById("output");
            var ws;
            var print = function(message) {
                var d = document.createElement("div");
                d.innerHTML = message;
                output.appendChild(d);
            };

            ws = new WebSocket({{.Uri}});
            ws.onopen = function(evt) {
                print("OPEN");
            }
            ws.onclose = function(evt) {
                print("CLOSE");
                ws = null;
            }
            ws.onmessage = function(evt) {
                print("RESPONSE: " + evt.data);
            }
            ws.onerror = function(evt) {
                print("ERROR: " + evt.data);
            }
        });
    </script>

</head>
<body>
<h1>Welcome! Your LogBook-ID is {{.Identifier}}</h1>


<table>
    <tr>
        <td valign="top" width="50%">
            <div id="output"></div>
        </td>
    </tr>
</table>

</body>
</html>